body {margin: 0}

.navigation-wrap {
   height: 300px;
   background-color: blue;
   color: #ffffff;
}

.logo h1 {
    font-family: 'ranchers', serif;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;

}

.link-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    width: 70px;
    text-align: center;
}

.nav-link a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
    font-family: 'ranchers', serif;
}
.nav-link a:hover {
    letter-spacing: 2px;
}

.homepage {
    background-image: url(assets/bike\ 2.jpg);
    padding: 100px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .top-heading {
    text-align: center;
    font-family: 'Chango', cursive;
 }

 .footer-container {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: white;
}

